<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITVListingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6288/TV/TVListingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITVListingService"
                contract="TVListingService.ITVListingService" name="BasicHttpBinding_ITVListingService" />
        </client>
    </system.serviceModel>
</configuration>